/*
 *		js-test-0.css    2023-08-27    usp
 */

 body {
	padding-bottom : 50px ;
	}

 div.test-summary p,
 div.test p { 
	margin-left : 30px ;
	margin-top : 0px ;
	margin-bottom : 0px ;
	tab-size : 80px ;
	white-space : pre ;
	}

div.test {
	margin : 20px 0px ;
	}

div.test p {
	tab-size : 160px ;
	margin-left : 30px;
	}

div.test p:first-child {
	margin-left : 0
	}

div.test-summary[test-status="success"] .status,
div.test-summary[test-status="success"] .sectionsSucceeded,
div.test-summary[test-status="success"] .testsSucceeded,
div.test[test-status="success"] #result {
	color : forestgreen ;
	}

div.test-summary[test-status="fail"] .status,
div.test-summary[test-status="fail"] .sectionsFailed,
div.test-summary[test-status="fail"] .testsFailed,
div.test[test-status="fail"] #result {
	color : indianred ;
	}

h1:has( ~ div.module.test-summary[test-status="success"]) {
	color : forestgreen ;
	}
	
h1:has( ~ div.module.test-summary[test-status="fail"]) {
	color : indianred ;
	}
	
h2:has( + div > div.section.test-summary[test-status="success"] ) {
	color : forestgreen ;
	}

h2:has( + div > div.section.test-summary[test-status="fail"] ) {
	color : indianred ;
	}

iframe {
	margin-top : 20px ;
	width : 100% ;
	height : 260px ;
	border : 1px solid silver ;
	border-left-style : none ;
	}
