iframe.test-document { border : 1px solid silver ; width : 100% ; margin : 20px 0px }
div.test-summary { line-height : 20px ; margin-bottom : 20px ; margin-left : 20px }
div.test-summary p {tab-size : 8em ; white-space : pre ; margin-top : 0px ; margin-bottom : 0px ; margin-left : 20px }
div.test-summary > p { margin : 0px }
p.test-item { margin-top : 0px ; margin-bottom : 0px }
